.dark-mode-toggle {
  position: fixed;
  top: 20px;
  right: 350px;  /* Increased this value to move it left */
  z-index: 1001;
  cursor: pointer;
}

.theme-icon {
  font-size: 1.5rem;
  color: var(--secondary-color);
  transition: transform 0.3s ease;
}

.theme-icon:hover {
  transform: scale(1.2);
}

.dark-mode-toggle input {
  display: none;
}

.toggle-track {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary-color);
  border-radius: 1rem;
  width: 3rem;
  height: 1.5rem;
  position: relative;
  cursor: pointer;
}

.toggle-indicator {
  position: absolute;
  background: white;
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
  transform: translateX(-0.8rem);
  transition: transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

input:checked + label .toggle-indicator {
  transform: translateX(0.8rem);
}
